In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../tips.csv")
print(df)

     total_bill   tip  gender smoker   day    time  size  price_per_person  \
0         16.99  1.01  Female     No   Sun  Dinner     2              8.49
1         10.34  1.66    Male     No   Sun  Dinner     3              3.45
2         21.01  3.50    Male     No   Sun  Dinner     3              7.00
3         23.68  3.31    Male     No   Sun  Dinner     2             11.84
4         24.59  3.61  Female     No   Sun  Dinner     4              6.15
..          ...   ...     ...    ...   ...     ...   ...               ...
239       29.03  5.92    Male     No   Sat  Dinner     3              9.68
240       27.18  2.00  Female    Yes   Sat  Dinner     2             13.59
241       22.67  2.00    Male    Yes   Sat  Dinner     2             11.34
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

             Payer Name     CC Number Payment ID
0    Christy Cunningham  3.560330e+15    Sun2959
1        Douglas Tucker  4.478070e+15    Sun4608
2        Travis Walters  6.011810e+15    Sun4458
3      Nathaniel Harris  4.676140e+15    Sun5260
4          Tonya Carter  4.832730e+15    Sun2251
..                  ...           ...        ...
239       Michael Avila  5.296070e+15    Sat2657
240      Monica Sanders  3.506810e+15    Sat1766
241          Keith Wong  6.011890e+15    Sat3880
242        Dennis Dixon  4.375220e+12      Sat17
243     Michelle Hardin  3.511450e+15    Thur672

[244 rows x 11 columns]

In [8]:
# 1. Splitting
df_grouped = df.groupby('gender')

# Note that the output will not have any visible impact, except for a mention of grouping
print(df_grouped.head())

    total_bill   tip  gender smoker  day    time  size  price_per_person  \
0        16.99  1.01  Female     No  Sun  Dinner     2              8.49
1        10.34  1.66    Male     No  Sun  Dinner     3              3.45
2        21.01  3.50    Male     No  Sun  Dinner     3              7.00
3        23.68  3.31    Male     No  Sun  Dinner     2             11.84
4        24.59  3.61  Female     No  Sun  Dinner     4              6.15
5        25.29  4.71    Male     No  Sun  Dinner     4              6.32
6         8.77  2.00    Male     No  Sun  Dinner     2              4.38
11       35.26  5.00  Female     No  Sun  Dinner     4              8.82
14       14.83  3.02  Female     No  Sun  Dinner     2              7.42
16       10.33  1.67  Female     No  Sun  Dinner     3              3.44

            Payer Name     CC Number Payment ID
0   Christy Cunningham  3.560330e+15    Sun2959
1       Douglas Tucker  4.478070e+15    Sun4608
2       Travis Walters  6.011810e+15    Sun4458
3     Nathaniel Harris  4.676140e+15    Sun5260
4         Tonya Carter  4.832730e+15    Sun2251
5           Erik Smith  2.131400e+14    Sun9679
6   Kristopher Johnson  2.223730e+15    Sun5985
11        Diane Macias  4.577820e+15    Sun6686
14       Vanessa Jones  3.001670e+13    Sun3848
16    Elizabeth Foster  4.240030e+15    Sun9715

In [5]:
# 2. Applying 
# Calculate the mean tip for each gender
mean_tip_by_gender = df_grouped["tip"].mean()
print(mean_tip_by_gender)

gender
Female    2.833448
Male      3.089618
Name: tip, dtype: float64

In [10]:
print(df['tip'].mean())

2.99827868852459

In [11]:
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID
0  Christy Cunningham  3.560330e+15    Sun2959
1      Douglas Tucker  4.478070e+15    Sun4608
2      Travis Walters  6.011810e+15    Sun4458
3    Nathaniel Harris  4.676140e+15    Sun5260
4        Tonya Carter  4.832730e+15    Sun2251

In [14]:
print(df_grouped["tip"].min())
print(df_grouped["tip"].max())
print(df_grouped["tip"].std())
print(df_grouped["tip"].var())
print(df_grouped["tip"].count())
print(df_grouped["tip"].sum())

gender
Female    1.0
Male      1.0
Name: tip, dtype: float64
gender
Female     6.5
Male      10.0
Name: tip, dtype: float64
gender
Female    1.159495
Male      1.489102
Name: tip, dtype: float64
gender
Female    1.344428
Male      2.217424
Name: tip, dtype: float64
gender
Female     87
Male      157
Name: tip, dtype: int64
gender
Female    246.51
Male      485.07
Name: tip, dtype: float64

In [15]:
# Creating groups on multiple columns
df_grouped = df.groupby(['gender', 'day'])

In [16]:
# 3. Combining
mean_tip_by_gender_day = df_grouped['tip'].mean()
print(mean_tip_by_gender_day)

gender  day
Female  Fri     2.781111
        Sat     2.801786
        Sun     3.367222
        Thur    2.575625
Male    Fri     2.693000
        Sat     3.083898
        Sun     3.220345
        Thur    2.980333
Name: tip, dtype: float64

In [19]:
# agg function
# Apply multiple aggregration functions to different columns when grouping data
# Calculate both the mean and the sum of the 'tip' column for each combination of 'gender' and 'day'

# Group the DataFrame by both 'gender' and 'day' and calculate the mean and sum of 'tip' each combination
df_grouped = df.groupby(['gender', 'day']).agg({'tip': ['mean', 'sum']}).reset_index()
print(df_grouped)

   gender   day       tip
                     mean     sum
0  Female   Fri  2.781111   25.03
1  Female   Sat  2.801786   78.45
2  Female   Sun  3.367222   60.61
3  Female  Thur  2.575625   82.42
4    Male   Fri  2.693000   26.93
5    Male   Sat  3.083898  181.95
6    Male   Sun  3.220345  186.78
7    Male  Thur  2.980333   89.41

In [ ]:
# When we perform group operations using groupby(), the resulting DataFrame has a hierarchical index, 
# known as Multiindex, which reflects the groups created by the grouping columns
# Resetting the index using reset_index() converts the hierarchical index into a simple integer index, making

In [24]:
# Rename the columns for clarity
df_grouped.columns = ['gender', 'day', 'mean_tip', 'total_tip']
print(df_grouped.head(8))

   gender   day  mean_tip  total_tip
0  Female   Fri  2.781111      25.03
1  Female   Sat  2.801786      78.45
2  Female   Sun  3.367222      60.61
3  Female  Thur  2.575625      82.42
4    Male   Fri  2.693000      26.93
5    Male   Sat  3.083898     181.95
6    Male   Sun  3.220345     186.78
7    Male  Thur  2.980333      89.41

In [31]:
# Combining DataFrames
# Directly "glue" together dataframes

data_one = {"A": ['A0', 'A1', 'A2', 'A3'], "B": ['B0', 'B1', 'B2', 'B3'] }
data_two = {"C": ['C0', 'C1', 'C2', 'C3'], "D": ['D0', 'D1', 'D2', 'D3'] }

one = pd.DataFrame(data_one)
two = pd.DataFrame(data_two)

# Concatenate along rowss
axis0 = pd.concat([one, two], axis=0)
print(axis0)

     A    B    C    D
0   A0   B0  NaN  NaN
1   A1   B1  NaN  NaN
2   A2   B2  NaN  NaN
3   A3   B3  NaN  NaN
0  NaN  NaN   C0   D0
1  NaN  NaN   C1   D1
2  NaN  NaN   C2   D2
3  NaN  NaN   C3   D3

In [32]:
axis1 = pd.concat([one, two], axis=1)
print(axis1)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [34]:
two.columns=one.columns

print(pd.concat([one,two]))

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
0  C0  D0
1  C1  D1
2  C2  D2
3  C3  D3

In [35]:
print(pd.concat([one,two], ignore_index=True))

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
4  C0  D0
5  C1  D1
6  C2  D2
7  C3  D3

In [36]:
# Merge 
registrations = pd.DataFrame({'reg_id': [1, 2, 3, 4], 'name':['Alice', 'Bob', 'Carol', 'Dave']})
logins = pd.DataFrame({'log_id': [1, 2, 3, 4], 'name':['Xavier', 'Alice', 'Yolanda', 'Bob']})

print(registrations)
print(logins)

   reg_id   name
0       1  Alice
1       2    Bob
2       3  Carol
3       4   Dave
   log_id     name
0       1   Xavier
1       2    Alice
2       3  Yolanda
3       4      Bob

In [ ]:
# Inner Join
# Match where the key is present in BOTH tables.
# There should be no NaNs due to the join, since by definition to be part of the Inner Hoin we need info in both tables.

In [38]:
# Notice pd.merge does not take in a list like concat
merged_df = pd.merge(registrations, logins, how='inner')
print(merged_df)

   reg_id   name  log_id
0       1  Alice       2
1       2    Bob       4

In [44]:
# Pandas reports an error if "on" key column isn't in both dataframes
# pd.merge(registrations, logins, how='inner', on='reg_id')

In [45]:
# Left Join
# Match up AND include all rows from Left Table.
merged_df = pd.merge(registrations, logins, how="left")
print(merged_df)

   reg_id   name  log_id
0       1  Alice     2.0
1       2    Bob     4.0
2       3  Carol     NaN
3       4   Dave     NaN

In [46]:
# Right Join
# Match up AND include all rows from Right Table.
merged_df = pd.merge(registrations, logins, how="right")
print(merged_df)

   reg_id     name  log_id
0     NaN   Xavier       1
1     1.0    Alice       2
2     NaN  Yolanda       3
3     2.0      Bob       4

In [47]:
# Outer Join
# Match up all info found in either Left or Right Table.
merged_df = pd.merge(registrations, logins, how="outer")
print(merged_df)

   reg_id     name  log_id
0     1.0    Alice     2.0
1     2.0      Bob     4.0
2     3.0    Carol     NaN
3     4.0     Dave     NaN
4     NaN   Xavier     1.0
5     NaN  Yolanda     3.0