In [11]:
import pandas as pd
import numpy as np

#### 1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [12]:
ds = pd.Series([2, 4, 6, 8, 10])
print(ds)

0     2
1     4
2     6
3     8
4    10
dtype: int64

#### 2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [13]:
ds = pd.Series([2, 4, 6, 8, 10])
lst = list(ds)
print(type(lst))
print(lst)

<class 'list'>
[2, 4, 6, 8, 10]

#### 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series. Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [14]:
sr1 = pd.Series([2, 4, 6, 8, 10])
sr2 = pd.Series([1, 3, 5, 7, 9])

print(sr1+sr2)
print(sr1-sr2)
print(sr1*sr2)
print(sr1/sr2)

0     3
1     7
2    11
3    15
4    19
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

#### 4. Write a Pandas program to compare the elements of the two Pandas Series.Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [15]:
sr1 = pd.Series([2, 4, 6, 8, 10])
sr2 = pd.Series([1, 4, 2, 8, 9])

print(sr1 == sr2)

0    False
1     True
2    False
3     True
4    False
dtype: bool

#### 5. Write a Pandas program to convert a dictionary to a Pandas series.

In [16]:
Original_dictionary={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
s = pd.Series(Original_dictionary)
s

a    100
b    200
c    300
d    400
e    800
dtype: int64

 #### 6. Write a Pandas program to convert a NumPy array to a Pandas series.

In [17]:
arr = np.random.randint(1, 100, 12)
srs = pd.Series(arr)
print(srs)

0     77
1     56
2     83
3     56
4      6
5     30
6     68
7      3
8     61
9     71
10    64
11    90
dtype: int32

#### 7. Write a Pandas program to change the data type of given a column or a Series.

In [18]:
srs  = pd.Series([100, 200, "python", 400, 500])
srs = pd.to_numeric(srs, errors='coerce')
print(srs)

0    100.0
1    200.0
2      NaN
3    400.0
4    500.0
dtype: float64

#### 8. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [19]:
mydata = np.random.randint(0, 101, (4, 3))
mycolumns = ['col1', 'col2', 'col3']

df = pd.DataFrame(data=mydata, columns=mycolumns)
print(df)

series = pd.Series(df["col1"])
print(series)

   col1  col2  col3
0    44    22    95
1    87    41    58
2    51    29    57
3    56    76    50
0    44
1    87
2    51
3    56
Name: col1, dtype: int32

#### 9. Write a Pandas program to convert a given Series to an array.

In [20]:
srs  = pd.Series([100, 200, 300, 400, 500])

arr = np.array(srs)
print(arr)

[100 200 300 400 500]

#### 10. Write a Pandas program to convert Series of lists to one Series.

In [21]:
srs  = pd.Series([[23,67,89,76],[78,67,78,65],[67,54,34,23],[67,56,32,98]])
# srs = srs.apply(pd.Series).stack().reset_index(drop = True) 
# print(srs)
l=[]
for i in srs:
    l.extend(i)

print(pd.Series(l))

0     23
1     67
2     89
3     76
4     78
5     67
6     78
7     65
8     67
9     54
10    34
11    23
12    67
13    56
14    32
15    98
dtype: int64

#### 11. Write a Pandas program to sort a given Series.

In [22]:
srs  = pd.Series(['100', '200', 'python', '300.12', '400'])
new_s = pd.Series(srs).sort_values()
print(new_s)

0       100
1       200
3    300.12
4       400
2    python
dtype: object

#### 12. Write a Pandas program to add some data to an existing Series.

In [23]:
srs  = pd.Series(['100', '200', 'python', '300.12', '400'])
new_srs=pd.concat([srs,pd.Series([101,'Riya'])])
print(new_srs)

0       100
1       200
2    python
3    300.12
4       400
0       101
1      Riya
dtype: object

#### 13. Write a Pandas program to create a subset of a given series based on value and condition.

In [24]:
arr = np.arange(11)
srs = pd.Series(arr)
print(srs[:6])

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int32

#### 14. Write a Pandas program to change the order of index of a given series.

In [25]:
l2=[1,2,3,4,5]
l1=['A','B','C','D','E']
srs = pd.Series(l2,index=l1)
print(srs)
srs = srs.reindex(index = ['B','A','C','D','E'])
print(srs)

A    1
B    2
C    3
D    4
E    5
dtype: int64
B    2
A    1
C    3
D    4
E    5
dtype: int64

#### 15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [26]:
l =np.random.randint(1,10,10)
srs = pd.Series(l)
mean = srs.mean()
std = srs.std()
print(f'Series:\n{srs}  Mean:{mean} , STD: {std}')

Series:
0    3
1    1
2    5
3    2
4    3
5    1
6    9
7    3
8    2
9    3
dtype: int32  Mean:3.2 , STD: 2.3475755815545347

#### 16. Write a Pandas program to get the items of a given series not present in another given series.

In [27]:
sr1 = [1,2,3,4,5]
sr2=[2,4,6,8,10]
srs1 = pd.Series(sr1)
srs2 = pd.Series(sr2)
res = srs1[~srs1.isin(srs2)]
print(res)

0    1
2    3
4    5
dtype: int64

#### 17. Write a Pandas program to get the items which are not common of two given series.

In [28]:
sr1 = [1,2,3,4,5]
sr2=[2,4,6,8,10]
srs1 = pd.Series(sr1)
srs2 = pd.Series(sr2)
res = srs1[~srs1.isin(srs2)]
res1 = srs2[~srs2.isin(srs1)]
res2 = pd.concat([res,res1])
res2

0     1
2     3
4     5
2     6
3     8
4    10
dtype: int64

#### 18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

In [29]:
num_series = pd.Series( np.random.randint(10,20,20))
print("Original Series:") 
print(num_series)
result = np.percentile(num_series, q=[0, 25, 50, 75, 100])
print("\nMinimum, 25th percentile, median, 75th, and maximum of a given series:")
print(result)

Original Series:
0     14
1     10
2     13
3     13
4     15
5     19
6     14
7     12
8     16
9     16
10    19
11    18
12    13
13    14
14    19
15    13
16    18
17    12
18    15
19    14
dtype: int32

Minimum, 25th percentile, median, 75th, and maximum of a given series:
[10.  13.  14.  16.5 19. ]

#### 19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.

In [30]:
num_series = pd.Series( np.random.randint(10,20,40))
result = num_series.value_counts()
result

16    7
18    7
19    5
15    4
12    4
13    4
17    3
11    3
14    2
10    1
dtype: int64

#### 20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.

In [31]:
num_series = pd.Series(np.random.randint(10,20,30))
print("Original Series: ")
print(num_series)
print(type(num_series.value_counts()))

Original Series:
0     15
1     13
2     16
3     15
4     11
5     11
6     13
7     17
8     10
9     12
10    18
11    11
12    11
13    10
14    17
15    14
16    18
17    15
18    19
19    15
20    12
21    10
22    18
23    13
24    19
25    14
26    13
27    11
28    12
29    18
dtype: int32
<class 'pandas.core.series.Series'>

#### 21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

In [49]:
num_series = pd.Series(np.random.randint(1, 10, 9))
print("Original Series:")
print(num_series)
result = np.where(num_series % 5==0)
print("Positions of numbers that are multiples of 5:")
print(result)

Original Series:
0    3
1    7
2    5
3    7
4    6
5    1
6    3
7    2
8    4
dtype: int32
Positions of numbers that are multiples of 5:
(array([2], dtype=int64),)

#### 22. Write a Pandas program to extract items at given positions of a given series.

In [50]:
num_series = pd.Series(list('2390238923902390239023'))
element_pos = [0, 2, 6, 11, 21]
print("Original Series:")
print(num_series)
result = num_series.take(element_pos)
print("\nExtract items at given positions of the said series:")
print(result)

Original Series:
0     2
1     3
2     9
3     0
4     2
5     3
6     8
7     9
8     2
9     3
10    9
11    0
12    2
13    3
14    9
15    0
16    2
17    3
18    9
19    0
20    2
21    3
dtype: object

Extract items at given positions of the said series:
0     2
2     9
6     8
11    0
21    3
dtype: object

#### 23. Write a Pandas program to get the positions of items of a given series in another given series.

In [52]:
series1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
series2 = pd.Series([1, 3, 5, 7, 10])
print("Original Series:")
print(series1)
print(series2)
result = [pd.Index(series1).get_loc(i) for i in series2]
print("Positions of items of series2 in series1:")
print(result)

Original Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64
Positions of items of series2 in series1:
[0, 2, 4, 6, 9]

#### 24. Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.

In [53]:
series1 = pd.Series(['php', 'python', 'java', 'c#'])
print("Original Series:")
print(series1)
result = series1.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())
print("\nFirst and last character of each word to upper case:")
print(result)

Original Series:
0       php
1    python
2      java
3        c#
dtype: object

First and last character of each word to upper case:
0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

#### 25. Write a Pandas program to calculate the number of characters in each word in a given series.

In [55]:
series1 = pd.Series(['Php', 'Python', 'Java', 'C#'])
print("Original Series:")
print(series1)
result = series1.map(lambda x: len(x))
print("\nNumber of characters in each word in the said series:")
print(result)

Original Series:
0       Php
1    Python
2      Java
3        C#
dtype: object

Number of characters in each word in the said series:
0    3
1    6
2    4
3    2
dtype: int64

#### 26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.

In [32]:
import pandas as pd
series1 = pd.Series([1, 3, 5, 8, 10, 11, 15])
print("Original Series:")
print(series1)
print("\nDifference of differences between consecutive numbers of the said series:")
print(series1.diff().tolist())
print(series1.diff().diff().tolist())

Original Series:
0     1
1     3
2     5
3     8
4    10
5    11
6    15
dtype: int64

Difference of differences between consecutive numbers of the said series:
[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

#### 27. Write a Pandas program to convert a series of date strings to a timeseries.

In [33]:
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print("Original Series:")
print(date_series)
print("\nSeries of date strings to a timeseries:")
print(pd.to_datetime(date_series))

Original Series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

Series of date strings to a timeseries:
0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

#### 28. Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.

In [2]:
import pandas as pd
from dateutil.parser import parse
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print("Original Series:")
print(date_series)
date_series = date_series.map(lambda x: parse(x))
print("Day of month:")
print(date_series.dt.day.tolist())
print("Day of year:")
print(date_series.dt.dayofyear.tolist())
print("Day of week:")
print(date_series.dt.weekday.tolist())

Original Series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object
Day of month:
[1, 2, 7, 6, 12, 6]
Day of year:
[1, 276, 66, 126, 103, 96]
Day of week:
[3, 6, 2, 1, 1, 5]

#### 29. Write a Pandas program to convert year-month string to dates adding a specified day of the month.

In [35]:
from dateutil.parser import parse
date_series = pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019'])
print("Original Series:")
print(date_series)
print("\nNew dates:")
result = date_series.map(lambda d: parse('11 ' + d))
print(result)

Original Series:
0    Jan 2015
1    Feb 2016
2    Mar 2017
3    Apr 2018
4    May 2019
dtype: object

New dates:
0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

#### 30. Write a Pandas program to filter words from a given series that contain atleast two vowels.

In [36]:
from collections import Counter
color_series = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
print("Original Series:")
print(color_series)
print("\nFiltered words:")
result =color_series.map(lambda c: sum([Counter(c.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
print(color_series[result])

Original Series:
0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object

Filtered words:
1     Green
2    Orange
4    Yellow
5     White
dtype: object

#### 31. Write a Pandas program to compute the Euclidean distance between two given series.

In [37]:
x = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
y = pd.Series([11, 8, 7, 5, 6, 5, 3, 4, 7, 1])
print("Original series:")
print(x)
print(y)
print("\nEuclidean distance between two said series:")
print(np.linalg.norm(x-y))

Original series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0    11
1     8
2     7
3     5
4     6
5     5
6     3
7     4
8     7
9     1
dtype: int64

Euclidean distance between two said series:
16.492422502470642

#### 32. Write a Pandas program to find the positions of the values neighboured by smaller values on both sides in a given series.

In [38]:
nums = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
print("Original series:")
print(nums)
print("\nPositions of the values surrounded by smaller values on both sides:")
temp = np.diff(np.sign(np.diff(nums)))
result = np.where(temp == -2)[0] + 1
print(result)

Original series:
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64

Positions of the values surrounded by smaller values on both sides:
[1 4 8]

#### 33. Write a Pandas program to replace missing white spaces in a given string with the least frequent character.

In [40]:
str1 = 'abc def abcdef icd'
print("Original series:")
print(str1)
ser = pd.Series(list(str1))
element_freq = ser.value_counts()
print(element_freq)
current_freq = element_freq.dropna().index[-1]
result = "".join(ser.replace(' ', current_freq))
print(result)

Original series:
abc def abcdef icd
c    3
     3
d    3
a    2
b    2
e    2
f    2
i    1
dtype: int64
abcidefiabcdefiicd

#### 34. Write a Pandas program to compute the autocorrelations of a given numeric series.

In [41]:
num_series = pd.Series(np.arange(15) + np.random.normal(1, 10, 15))
print("Original series:")
print(num_series)
autocorrelations = [num_series.autocorr(i).round(2) for i in range(11)]
print("\nAutocorrelations of the said series:")
print(autocorrelations[1:])

Original series:
0     14.759319
1     -8.706663
2     -7.216158
3     14.196768
4      2.887033
5     19.847339
6      8.247172
7     -2.780151
8      5.478152
9     10.712405
10    32.861031
11     9.022204
12    12.902963
13     5.422447
14    21.363790
dtype: float64

Autocorrelations of the said series:
[0.01, -0.08, -0.28, 0.03, 0.68, 0.25, 0.09, -0.63, -0.2, 0.39]

#### 35. Write a Pandas program to create a TimeSeries to display all the Sundays of given year.

In [42]:
result = pd.Series(pd.date_range('2020-01-01', periods=52, freq='W-SUN'))
print("All Sundays of 2019:")
print(result)

All Sundays of 2019:
0    2020-01-05
1    2020-01-12
2    2020-01-19
3    2020-01-26
4    2020-02-02
5    2020-02-09
6    2020-02-16
7    2020-02-23
8    2020-03-01
9    2020-03-08
10   2020-03-15
11   2020-03-22
12   2020-03-29
13   2020-04-05
14   2020-04-12
15   2020-04-19
16   2020-04-26
17   2020-05-03
18   2020-05-10
19   2020-05-17
20   2020-05-24
21   2020-05-31
22   2020-06-07
23   2020-06-14
24   2020-06-21
25   2020-06-28
26   2020-07-05
27   2020-07-12
28   2020-07-19
29   2020-07-26
30   2020-08-02
31   2020-08-09
32   2020-08-16
33   2020-08-23
34   2020-08-30
35   2020-09-06
36   2020-09-13
37   2020-09-20
38   2020-09-27
39   2020-10-04
40   2020-10-11
41   2020-10-18
42   2020-10-25
43   2020-11-01
44   2020-11-08
45   2020-11-15
46   2020-11-22
47   2020-11-29
48   2020-12-06
49   2020-12-13
50   2020-12-20
51   2020-12-27
dtype: datetime64[ns]

#### 36. Write a Pandas program to convert given series into a dataframe with its index as another column on the dataframe.

In [43]:
char_list = list('ABCDEFGHIJKLMNOP')
num_arra = np.arange(8)
num_dict = dict(zip(char_list, num_arra))
num_ser = pd.Series(num_dict)
df = num_ser.to_frame().reset_index()
print(df.head())

  index  0
0     A  0
1     B  1
2     C  2
3     D  3
4     E  4

#### 37. Write a Pandas program to stack two given series vertically and horizontally.

In [15]:
series1 = pd.Series(range(10))
series2 = pd.Series(list('pqrstuvwxy'))
print("Original Series:")
print(series1)
print(series2)
df = pd.concat([series1, series2], axis=1)
df1 = pd.concat([series1, series2], axis=0,ignore_index = True)
print("\nStack two given series vertically and horizontally:")
print(df)
print(df1)

Original Series:
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0    p
1    q
2    r
3    s
4    t
5    u
6    v
7    w
8    x
9    y
dtype: object

Stack two given series vertically and horizontally:
   0  1
0  0  p
1  1  q
2  2  r
3  3  s
4  4  t
5  5  u
6  6  v
7  7  w
8  8  x
9  9  y
0     0
1     1
2     2
3     3
4     4
5     5
6     6
7     7
8     8
9     9
10    p
11    q
12    r
13    s
14    t
15    u
16    v
17    w
18    x
19    y
dtype: object

#### 38. Write a Pandas program to check the equality of two given series.

In [45]:
nums1 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
nums2 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
print("Original Series:")
print(nums1)
print(nums2)
print("Check 2 series are equal or not?")
print(nums1 == nums2)

Original Series:
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64
Check 2 series are equal or not?
0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

#### 39. Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series.

In [47]:
nums = pd.Series([1, 3, 7, 12, 88, 23, 3, 1, 9, 0])
print("Original Series:")
print(nums)
print("Index of the first occurrence of the smallest and largest value of the said series:")
print(nums.idxmin())
print(nums.idxmax())

Original Series:
0     1
1     3
2     7
3    12
4    88
5    23
6     3
7     1
8     9
9     0
dtype: int64
Index of the first occurrence of the smallest and largest value of the said series:
9
4

#### 40. Write a Pandas program to check inequality over the index axis of a given dataframe and a given series.

In [48]:
df_data = pd.DataFrame({'W':[68,75,86,80,None],'X':[78,75,None,80,86], 'Y':[84,94,89,86,86],'Z':[86,97,96,72,83]});
sr_data = pd.Series([68, 75, 86, 80, None]) 
print("Original DataFrame:")
print(df_data)
print("\nOriginal Series:")
print(sr_data)
print("\nCheck for inequality of the said series & dataframe:")
print(df_data.ne(sr_data, axis = 0))

Original DataFrame:
      W     X   Y   Z
0  68.0  78.0  84  86
1  75.0  75.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  86  72
4   NaN  86.0  86  83

Original Series:
0    68.0
1    75.0
2    86.0
3    80.0
4     NaN
dtype: float64

Check for inequality of the said series & dataframe:
       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True