In [1]:
import pandas as pd

#### 1. Write a Pandas program to read a csv file from a specified source and print the first 5 rows.

In [2]:
diamonds = pd.read_csv("diamonds.csv").drop('Unnamed: 0', axis=1)

In [8]:
df.head(5)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

#### 2. Write a Pandas program to read a dataset from diamonds DataFrame and modify the default columns values and print the first 6 rows.

In [17]:
user_cols = ['carat', 'cut', 'x', 'y', 'z']
print(df[user_cols].head(6))

   carat        cut     x     y     z
0   0.23      Ideal  3.95  3.98  2.43
1   0.21    Premium  3.89  3.84  2.31
2   0.23       Good  4.05  4.07  2.31
3   0.29    Premium  4.20  4.23  2.63
4   0.31       Good  4.34  4.35  2.75
5   0.24  Very Good  3.94  3.96  2.48

#### 3. Write a Pandas program to select a series from diamonds DataFrame. Print the content of the series.

In [19]:
c = pd.Series(df['color'])
print(c)

0        E
1        E
2        E
3        I
4        J
        ..
53935    D
53936    D
53937    D
53938    H
53939    D
Name: color, Length: 53940, dtype: object

#### 4. Write a Pandas program to create a new 'Quality -color' Series (use bracket notation to define the Series name) of the diamonds DataFrame.

In [23]:
df['Quality–color'] = df.cut + ', ' + df.color
print(df.head())

   carat      cut color clarity  depth  table  price     x     y     z  \
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

  Quality–color
0      Ideal, E
1    Premium, E
2       Good, E
3    Premium, I
4       Good, J

#### 5. Write a Pandas program to find the number of rows and columns and data type of each column of diamonds Dataframe.

In [25]:
print(df.shape)
print(df.dtypes)

(53940, 11)
carat            float64
cut               object
color             object
clarity           object
depth            float64
table            float64
price              int64
x                float64
y                float64
z                float64
Quality–color     object
dtype: object

#### 6. Write a Pandas program to summarize only 'object' columns of the diamonds Dataframe.

In [26]:
print(df.describe(include=['object']))

          cut  color clarity Quality–color
count   53940  53940   53940         53940
unique      5      7       8            35
top     Ideal      G     SI1      Ideal, G
freq    21551  11292   13065          4884

#### 7. Write a Pandas program to rename two of the columns of the diamonds Dataframe.

In [27]:
print(df.head())
print("\nAfter renaming two of the columns of the said dataframe:")
df.rename(columns={'color':'diamond_color', 'clarity':'dimaond_clarity'}, inplace=True)
print(df.head())

   carat      cut color clarity  depth  table  price     x     y     z  \
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

  Quality–color
0      Ideal, E
1    Premium, E
2       Good, E
3    Premium, I
4       Good, J

After renaming two of the columns of the said dataframe:
   carat      cut diamond_color dimaond_clarity  depth  table  price     x  \
0   0.23    Ideal             E             SI2   61.5   55.0    326  3.95
1   0.21  Premium             E             SI1   59.8   61.0    326  3.89
2   0.23     Good             E             VS1   56.9   65.0    327  4.05
3   0.29  Premium             I             VS2   62.4   58.0    334  4.20
4   0.31     Good             J             SI2   63.3   58.0    335  4.34

      y     z Quality–color
0  3.98  2.43      Ideal, E
1  3.84  2.31    Premium, E
2  4.07  2.31       Good, E
3  4.23  2.63    Premium, I
4  4.35  2.75       Good, J

#### 8. Write a Pandas program to rename all the columns of the diamonds Dataframe.

In [4]:
import pandas as pd
print("Original Dataframe:")
print(diamonds.head())
diamonds_cols = ['new_carat', 'new_cut', 'new_color', 'new_clarity', 'new_depth', 'new_table', 'new_price', 'new_x', 'new_y', 'new_z']
diamonds.columns = diamonds_cols
print("\nAfter renaming all the columns of the said dataframe:")
diamonds.rename(columns={'color':'diamond_color', 'clarity':'dimaond_clarity'}, inplace=True)
print(diamonds.head())

Original Dataframe:
   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

After renaming two of the columns of the said dataframe:
   carat      cut diamond_color dimaond_clarity  depth  table  price     x  \
0   0.23    Ideal             E             SI2   61.5   55.0    326  3.95
1   0.21  Premium             E             SI1   59.8   61.0    326  3.89
2   0.23     Good             E             VS1   56.9   65.0    327  4.05
3   0.29  Premium             I             VS2   62.4   58.0    334  4.20
4   0.31     Good             J             SI2   63.3   58.0    335  4.34

      y     z
0  3.98  2.43
1  3.84  2.31
2  4.07  2.31
3  4.23  2.63
4  4.35  2.75

#### 9. Write a Pandas program to remove the second column of the diamonds Dataframe.

In [16]:
print("Original Dataframe:")
print(diamonds.head())
print("\nRemove the second column of the said Dataframe:")
diamonds.drop('cut', axis=1, inplace=True)
print(diamonds.head())

Original Dataframe:
  clarity  depth  table  price     x     z
0     SI2   61.5   55.0    326  3.95  2.43
1     SI1   59.8   61.0    326  3.89  2.31
3     VS2   62.4   58.0    334  4.20  2.63
6    VVS1   62.3   57.0    336  3.95  2.47
7     SI1   61.9   55.0    337  4.07  2.53

Remove the second column of the said Dataframe:

KeyError: "['new_cut'] not found in axis"

#### 10. Write a Pandas program to remove multiple columns at once of the diamonds Dataframe.

In [ ]:
print("Original Dataframe:")
print(diamonds.head())
print("\nRemove multiple columns:")
diamonds.drop(['carat', 'color', 'y'], axis=1, inplace=True)
print(diamonds.head())

#### 11. Write a Pandas program to remove multiple rows at once (axis=0 refers to rows)

In [10]:
print("Original Dataframe:")
print(diamonds.head())
print("\nRemove multiple rows:")
diamonds.drop([2, 4, 5], axis=0, inplace=True)
print(diamonds.head())

Original Dataframe:
  clarity  depth  table  price     x     z
0     SI2   61.5   55.0    326  3.95  2.43
1     SI1   59.8   61.0    326  3.89  2.31
2     VS1   56.9   65.0    327  4.05  2.31
3     VS2   62.4   58.0    334  4.20  2.63
4     SI2   63.3   58.0    335  4.34  2.75

Remove multiple rows:
  clarity  depth  table  price     x     z
0     SI2   61.5   55.0    326  3.95  2.43
1     SI1   59.8   61.0    326  3.89  2.31
3     VS2   62.4   58.0    334  4.20  2.63
6    VVS1   62.3   57.0    336  3.95  2.47
7     SI1   61.9   55.0    337  4.07  2.53

#### 12. Write a Pandas program to sort the 'cut' Series in ascending order (returns a Series) of diamonds Dataframe.

In [14]:
print("Original Dataframe:")
print(diamonds.head())
print("\ncut Series in ascending order :")
result = diamonds.cut.sort_values(ascending=True)
print(result)

Original Dataframe:
  clarity  depth  table  price     x     z
0     SI2   61.5   55.0    326  3.95  2.43
1     SI1   59.8   61.0    326  3.89  2.31
3     VS2   62.4   58.0    334  4.20  2.63
6    VVS1   62.3   57.0    336  3.95  2.47
7     SI1   61.9   55.0    337  4.07  2.53

cut Series in ascending order :

AttributeError: 'DataFrame' object has no attribute 'cut'

#### 13. Write a Pandas program to sort the 'price' Series in descending order (returns a Series) of diamonds Dataframe.

In [11]:
print("Original Dataframe:")
print(diamonds.head())
print("\nprice Series in descending order :")
result = diamonds.price.sort_values(ascending=False)
print(result)

Original Dataframe:
  clarity  depth  table  price     x     z
0     SI2   61.5   55.0    326  3.95  2.43
1     SI1   59.8   61.0    326  3.89  2.31
3     VS2   62.4   58.0    334  4.20  2.63
6    VVS1   62.3   57.0    336  3.95  2.47
7     SI1   61.9   55.0    337  4.07  2.53

price Series in descending order :
27749    18823
27748    18818
27747    18806
27746    18804
27745    18803
         ...
7          337
6          336
3          334
1          326
0          326
Name: price, Length: 53937, dtype: int64

#### 14. Write a Pandas program to sort the entire diamonds DataFrame by the 'carat' Series in ascending and descending order.

In [12]:
print("Original Dataframe:")
print(diamonds.head())
print("\nSort the entire diamonds DataFrame by the 'carat' Series in ascending order")
result = diamonds.sort_values('carat')
print(result)
print("\nSort the entire diamonds DataFrame by the 'carat' Series in descending  order")
result = diamonds.sort_values('carat', ascending=False)
print(result)

Original Dataframe:
  clarity  depth  table  price     x     z
0     SI2   61.5   55.0    326  3.95  2.43
1     SI1   59.8   61.0    326  3.89  2.31
3     VS2   62.4   58.0    334  4.20  2.63
6    VVS1   62.3   57.0    336  3.95  2.47
7     SI1   61.9   55.0    337  4.07  2.53

Sort the entire diamonds DataFrame by the 'carat' Series in ascending order

KeyError: 'carat'

#### 15. Write a Pandas program to filter the DataFrame rows to only show carat weight at least 0.3.

In [17]:


import pandas as pd
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
print("Original Dataframe:")
print(diamonds.head(20))
print("\nRows to only show carat weight at least 0.3:")
booleans = []
for w in diamonds.carat:
   if w >= .3:
       booleans.append(True)
   else:
       booleans.append(False)
print(booleans[0:20])

Original Dataframe:
    carat        cut color clarity  depth  table  price     x     y     z
0    0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1    0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2    0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3    0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4    0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5    0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6    0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7    0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8    0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9    0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39
10   0.30       Good     J     SI1   64.0   55.0    339  4.25  4.28  2.73
11   0.23      Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
12   0.22    Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
13   0.31      Ideal     J     SI2   62.2   54.0    344  4.35  4.37  2.71
14   0.20    Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27
15   0.32    Premium     E      I1   60.9   58.0    345  4.38  4.42  2.68
16   0.30      Ideal     I     SI2   62.0   54.0    348  4.31  4.34  2.68
17   0.30       Good     J     SI1   63.4   54.0    351  4.23  4.29  2.70
18   0.30       Good     J     SI1   63.8   56.0    351  4.23  4.26  2.71
19   0.30  Very Good     J     SI1   62.7   59.0    351  4.21  4.27  2.66

Rows to only show carat weight at least 0.3:
[False, False, False, False, True, False, False, False, False, False, True, False, False, True, False, True, True, True, True, True]

#### 16. Write a Pandas program to convert a python list to pandas series.

In [ ]:
=