In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
#1. Write a Pandas program to read a csv file from a specified source and print the first 5 rows. (Diamonds.csv)
df = pd.read_csv('diamonds.csv')
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [4]:
#2.Write a Pandas program to read a dataset from diamonds DataFrame and modify the default columns values and print the first 6 rows.
user_cols = ['carat', 'cut', 'x', 'y', 'z']
print("First 6 rows:")
print(df[user_cols].head(6))

First 6 rows:
   carat        cut     x     y     z
0   0.23      Ideal  3.95  3.98  2.43
1   0.21    Premium  3.89  3.84  2.31
2   0.23       Good  4.05  4.07  2.31
3   0.29    Premium  4.20  4.23  2.63
4   0.31       Good  4.34  4.35  2.75
5   0.24  Very Good  3.94  3.96  2.48

In [5]:
#3. Write a Pandas program to select a series from diamonds DataFrame. Print the content of the series.
print(df['carat'])

0        0.23
1        0.21
2        0.23
3        0.29
4        0.31
         ...
53935    0.72
53936    0.72
53937    0.70
53938    0.86
53939    0.75
Name: carat, Length: 53940, dtype: float64

In [6]:
#4.Write a Pandas program to create a new 'Quality -color' Series (use bracket notation to define the Series name) of the diamonds DataFrame.
df['Quality -color'] = df.cut + ',' + df.color
print(df['Quality -color'])

0            Ideal,E
1          Premium,E
2             Good,E
3          Premium,I
4             Good,J
            ...
53935        Ideal,D
53936         Good,D
53937    Very Good,D
53938      Premium,H
53939        Ideal,D
Name: Quality -color, Length: 53940, dtype: object

In [9]:
#5. Write a Pandas program to find the number of rows and columns and data type of each column of diamonds Dataframe.
print(df.shape)
print("\nData type of each column:")
print(df.dtypes)

(53940, 12)

Data type of each column:
Unnamed: 0          int64
carat             float64
cut                object
color              object
clarity            object
depth             float64
table             float64
price               int64
x                 float64
y                 float64
z                 float64
Quality -color     object
dtype: object

In [10]:
#6. Write a Pandas program to summarize only 'object' columns of the diamonds Dataframe.
print(df.describe(include=['object']))

          cut  color clarity Quality -color
count   53940  53940   53940          53940
unique      5      7       8             35
top     Ideal      G     SI1        Ideal,G
freq    21551  11292   13065           4884

In [11]:
#7. Write a Pandas program to rename two of the columns of the diamonds Dataframe.
df.rename(columns={'color':'diamond_color', 'clarity':'dimaond_clarity'}, inplace=True)
print(df.head())

   Unnamed: 0  carat      cut diamond_color dimaond_clarity  depth  table  \
0           1   0.23    Ideal             E             SI2   61.5   55.0
1           2   0.21  Premium             E             SI1   59.8   61.0
2           3   0.23     Good             E             VS1   56.9   65.0
3           4   0.29  Premium             I             VS2   62.4   58.0
4           5   0.31     Good             J             SI2   63.3   58.0

   price     x     y     z Quality -color
0    326  3.95  3.98  2.43        Ideal,E
1    326  3.89  3.84  2.31      Premium,E
2    327  4.05  4.07  2.31         Good,E
3    334  4.20  4.23  2.63      Premium,I
4    335  4.34  4.35  2.75         Good,J

In [17]:
#8. Write a Pandas program to rename all the columns of the diamonds Dataframe.
diamonds_cols = ['new_carat', 'new_cut', 'new_color', 'new_clarity', 'new_depth', 'new_table', 'new_price', 'new_x', 'new_y', 'new_z','new_Quality -color']
df.columns = diamonds_cols
df.rename(columns={'color':'diamond_color', 'clarity':'dimaond_clarity'}, inplace=True)
print(df.head())

   new_carat  new_cut new_color new_clarity new_depth  new_table  new_price  \
0          1     0.23     Ideal           E       SI2       61.5       55.0
1          2     0.21   Premium           E       SI1       59.8       61.0
2          3     0.23      Good           E       VS1       56.9       65.0
3          4     0.29   Premium           I       VS2       62.4       58.0
4          5     0.31      Good           J       SI2       63.3       58.0

   new_x  new_y  new_z  new_Quality -color
0    326   3.95   3.98                2.43
1    326   3.89   3.84                2.31
2    327   4.05   4.07                2.31
3    334   4.20   4.23                2.63
4    335   4.34   4.35                2.75

In [19]:
#9. Write a Pandas program to remove the second column of the diamonds Dataframe.
df.drop('new_cut', axis=1, inplace=True)
print(df.head())

   new_carat new_color new_clarity new_depth  new_table  new_price  new_x  \
0          1     Ideal           E       SI2       61.5       55.0    326
1          2   Premium           E       SI1       59.8       61.0    326
2          3      Good           E       VS1       56.9       65.0    327
3          4   Premium           I       VS2       62.4       58.0    334
4          5      Good           J       SI2       63.3       58.0    335

   new_y  new_z  new_Quality -color
0   3.95   3.98                2.43
1   3.89   3.84                2.31
2   4.05   4.07                2.31
3   4.20   4.23                2.63
4   4.34   4.35                2.75

In [7]:
#10. Write a Pandas program to remove multiple columns at once of the diamonds Dataframe.
df.drop(['carat', 'color', 'y'], axis=1, inplace=True)

In [8]:
print(df.head())

   Unnamed: 0      cut clarity  depth  table  price     x     z
0           1    Ideal     SI2   61.5   55.0    326  3.95  2.43
1           2  Premium     SI1   59.8   61.0    326  3.89  2.31
2           3     Good     VS1   56.9   65.0    327  4.05  2.31
3           4  Premium     VS2   62.4   58.0    334  4.20  2.63
4           5     Good     SI2   63.3   58.0    335  4.34  2.75

In [21]:
#11. Write a Pandas program to remove multiple rows at once (axis=0 refers to rows) from diamonds dataframe.
df.drop([2, 4, 5], axis=0, inplace=True)

KeyError: '[2, 4, 5] not found in axis'

In [16]:
print(df.head())

   Unnamed: 0  carat        cut color clarity  depth  table  price     x  \
0           1   0.23      Ideal     E     SI2   61.5   55.0    326  3.95
1           2   0.21    Premium     E     SI1   59.8   61.0    326  3.89
3           4   0.29    Premium     I     VS2   62.4   58.0    334  4.20
6           7   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95
7           8   0.26  Very Good     H     SI1   61.9   55.0    337  4.07

      y     z
0  3.98  2.43
1  3.84  2.31
3  4.23  2.63
6  3.98  2.47
7  4.11  2.53

In [17]:
#12. Write a Pandas program to sort the 'cut' Series in ascending order (returns a Series) of diamonds Dataframe.
result = df.cut.sort_values(ascending=True)
print(result)

2583          Fair
8200          Fair
47802         Fair
51026         Fair
8197          Fair
           ...
16893    Very Good
43101    Very Good
7402     Very Good
16898    Very Good
21164    Very Good
Name: cut, Length: 53937, dtype: object

In [18]:
#13. Write a Pandas program to sort the 'price' Series in descending order (returns a Series) of diamonds Dataframe.
result = df.price.sort_values(ascending=False)
print(result)

27749    18823
27748    18818
27747    18806
27746    18804
27745    18803
         ...
7          337
6          336
3          334
1          326
0          326
Name: price, Length: 53937, dtype: int64

In [19]:
#14. Write a Pandas program to sort the entire diamonds DataFrame by the 'carat' Series in ascending and descending order.
result = df.sort_values('carat')
print(result)
result1 = df.sort_values('carat', ascending=False)
print(result1)

       Unnamed: 0  carat        cut color clarity  depth  table  price      x  \
31593       31594   0.20    Premium     E     VS2   61.1   59.0    367   3.81
31598       31599   0.20  Very Good     E     VS2   63.4   59.0    367   3.74
14             15   0.20    Premium     E     SI2   60.2   62.0    345   3.79
31600       31601   0.20    Premium     D     VS2   62.3   60.0    367   3.73
31599       31600   0.20      Ideal     E     VS2   62.2   57.0    367   3.76
...           ...    ...        ...   ...     ...    ...    ...    ...    ...
25998       25999   4.01    Premium     I      I1   61.0   61.0  15223  10.14
25999       26000   4.01    Premium     J      I1   62.5   62.0  15223  10.02
27130       27131   4.13       Fair     H      I1   64.8   61.0  17329  10.00
27630       27631   4.50       Fair     J      I1   65.8   58.0  18531  10.23
27415       27416   5.01       Fair     J      I1   65.5   59.0  18018  10.74

           y     z
31593   3.78  2.32
31598   3.71  2.36
14      3.75  2.27
31600   3.68  2.31
31599   3.73  2.33
...      ...   ...
25998  10.10  6.17
25999   9.94  6.24
27130   9.85  6.43
27630  10.16  6.72
27415  10.54  6.98

[53937 rows x 11 columns]
       Unnamed: 0  carat      cut color clarity  depth  table  price      x  \
27415       27416   5.01     Fair     J      I1   65.5   59.0  18018  10.74
27630       27631   4.50     Fair     J      I1   65.8   58.0  18531  10.23
27130       27131   4.13     Fair     H      I1   64.8   61.0  17329  10.00
25999       26000   4.01  Premium     J      I1   62.5   62.0  15223  10.02
25998       25999   4.01  Premium     I      I1   61.0   61.0  15223  10.14
...           ...    ...      ...   ...     ...    ...    ...    ...    ...
31594       31595   0.20  Premium     E     VS2   59.7   62.0    367   3.84
31593       31594   0.20  Premium     E     VS2   61.1   59.0    367   3.81
31592       31593   0.20  Premium     E     VS2   59.0   60.0    367   3.81
31591       31592   0.20  Premium     E     VS2   59.8   62.0    367   3.79
31600       31601   0.20  Premium     D     VS2   62.3   60.0    367   3.73

           y     z
27415  10.54  6.98
27630  10.16  6.72
27130   9.85  6.43
25999   9.94  6.24
25998  10.10  6.17
...      ...   ...
31594   3.80  2.28
31593   3.78  2.32
31592   3.78  2.24
31591   3.77  2.26
31600   3.68  2.31

[53937 rows x 11 columns]

In [20]:
#15. Write a Pandas program to filter the DataFrame rows to only show carat weight at least 0.3.
print(df.head(20))
print("\nRows to only show carat weight at least 0.3:")
booleans = []
for w in df.carat:
   if w >= .3:
       booleans.append(True)
   else:
       booleans.append(False)
print(booleans[0:20])

    Unnamed: 0  carat        cut color clarity  depth  table  price     x  \
0            1   0.23      Ideal     E     SI2   61.5   55.0    326  3.95
1            2   0.21    Premium     E     SI1   59.8   61.0    326  3.89
3            4   0.29    Premium     I     VS2   62.4   58.0    334  4.20
6            7   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95
7            8   0.26  Very Good     H     SI1   61.9   55.0    337  4.07
8            9   0.22       Fair     E     VS2   65.1   61.0    337  3.87
9           10   0.23  Very Good     H     VS1   59.4   61.0    338  4.00
10          11   0.30       Good     J     SI1   64.0   55.0    339  4.25
11          12   0.23      Ideal     J     VS1   62.8   56.0    340  3.93
12          13   0.22    Premium     F     SI1   60.4   61.0    342  3.88
13          14   0.31      Ideal     J     SI2   62.2   54.0    344  4.35
14          15   0.20    Premium     E     SI2   60.2   62.0    345  3.79
15          16   0.32    Premium     E      I1   60.9   58.0    345  4.38
16          17   0.30      Ideal     I     SI2   62.0   54.0    348  4.31
17          18   0.30       Good     J     SI1   63.4   54.0    351  4.23
18          19   0.30       Good     J     SI1   63.8   56.0    351  4.23
19          20   0.30  Very Good     J     SI1   62.7   59.0    351  4.21
20          21   0.30       Good     I     SI2   63.3   56.0    351  4.26
21          22   0.23  Very Good     E     VS2   63.8   55.0    352  3.85
22          23   0.23  Very Good     H     VS1   61.0   57.0    353  3.94

       y     z
0   3.98  2.43
1   3.84  2.31
3   4.23  2.63
6   3.98  2.47
7   4.11  2.53
8   3.78  2.49
9   4.05  2.39
10  4.28  2.73
11  3.90  2.46
12  3.84  2.33
13  4.37  2.71
14  3.75  2.27
15  4.42  2.68
16  4.34  2.68
17  4.29  2.70
18  4.26  2.71
19  4.27  2.66
20  4.30  2.71
21  3.92  2.48
22  3.96  2.41

Rows to only show carat weight at least 0.3:
[False, False, False, False, False, False, False, True, False, False, True, False, True, True, True, True, True, True, False, False]

In [22]:
#16. Write a Pandas program to convert a python list to pandas series.
ds = pd.Series([2, 4, 6, 8, 10])
print(ds)
print(type(ds))
print("Convert Pandas Series to Python list")
print(ds.tolist())
print(type(ds.tolist()))

0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>
Convert Pandas Series to Python list
[2, 4, 6, 8, 10]
<class 'list'>

In [23]:
#17. Write a Pandas program to find the details of the diamonds where length>5, width>5 and depth>5.
result = df[(df.x>5) & (df.y>5) & (df.z>5)]
print(result.head())

       Unnamed: 0  carat   cut color clarity  depth  table  price     x     y  \
11778       11779   1.83  Fair     J      I1   70.0   58.0   5083  7.34  7.28
13002       13003   2.14  Fair     J      I1   69.4   57.0   5405  7.74  7.70
13118       13119   2.15  Fair     J      I1   65.5   57.0   5430  8.01  7.95
13562       13563   1.96  Fair     F      I1   66.6   60.0   5554  7.59  7.56
13757       13758   2.22  Fair     J      I1   66.7   56.0   5607  8.04  8.02

          z
11778  5.12
13002  5.36
13118  5.23
13562  5.04
13757  5.36

In [24]:
#18. Write a Pandas program to find the diamonds that are either Premium or Ideal.
result = df[(df.cut == 'Premium') | (df.cut == 'Ideal')]
print(result.head())

    Unnamed: 0  carat      cut color clarity  depth  table  price     x     y  \
0            1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98
1            2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84
3            4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23
11          12   0.23    Ideal     J     VS1   62.8   56.0    340  3.93  3.90
12          13   0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84

       z
0   2.43
1   2.31
3   2.63
11  2.46
12  2.33

In [25]:
#19.Write a Pandas program to find the diamonds that are with a Fair or Good or Premium.
result = df[df.cut.isin(['Fair', 'Good', 'Premium'])]
print(result.head())

    Unnamed: 0  carat      cut color clarity  depth  table  price     x     y  \
1            2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84
3            4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23
8            9   0.22     Fair     E     VS2   65.1   61.0    337  3.87  3.78
10          11   0.30     Good     J     SI1   64.0   55.0    339  4.25  4.28
12          13   0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84

       z
1   2.31
3   2.63
8   2.49
10  2.73
12  2.33

In [27]:
#20.Write a Pandas program to display all column labels of diamonds DataFrame.
print(df.columns)

Index(['Unnamed: 0', 'carat', 'cut', 'color', 'clarity', 'depth', 'table',
       'price', 'x', 'y', 'z'],
      dtype='object')